.event-info{
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 50px;
    margin-bottom: 50px;
}
.event-info-left h1{
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 40px;
}

.event-info-left {
    width:610px;
    padding-right: 20px;
}

.event-content{
    /* width: 580px; */
    margin-bottom: 30px;
}

.event-content p{
    text-align: justify;
    padding:0 10px;
    font-size: 18px;
    line-height: 30px;
    color:#595959;
}

.two{
    margin-top: 20px;
}

.event-info-right{
    margin-right: 50px;
    margin-left: 128px;
}

.event-info-right img{
    width:450px;
    height: 420px;
}

@media screen and (max-width:768px){
    .event-info{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding:10px 10px;
    }
    .event-info-left{
        width:350px;
        padding-right: 0px;
    }
    .event-info-right{
        margin-left: 0px;
    }
    .event-info-right img{
        margin:20px 20px;
        width: 100%;
        height: 100%;
    }
    .event-info-left h1{
        text-align: center;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .event-content{
        width: 100%;
    }
    .event-content p{
        font-size: 16px;
        line-height: 24px;
    }
}