.btn{
    font-family: 'Roboto', sans-serif;
    color:white;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    background: #5B21DF;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
}
.btn:hover{
    background: #3A0E9F;
    cursor: pointer;
}