.domain-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}
.domain-body__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60vw;
}
.domain-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.domain-web,
.domain-ml {
  width: 80px;
  height: 80px;
}
.domain-uiux {
  width: 75.43px;
  height: 80px;
}
.domain-cloud {
  width: 83px;
  height: 67px;
}
.domain-icons {
  margin: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: calc(15px + (96 - 15) * ((100vw - 320px) / (1280 - 320)));
}
.domain-text {
  font-family: "Poppins";
  height: 120px;
  text-align: justify;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  padding-top: 25px;
  padding-bottom: 220px;
  /* or 167% */
  color: #595959;
}

/* media queries */

@media only screen and (max-width: 1300px) {
  .domain-body__content {
      max-width: 80vw;
      gap: 50px;
  }
}

@media screen and (max-width:990px) {
  .domain-text {
    line-height: 24px;
  }
  .domain-heading {
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  .domain-heading {
    /* font-size: 24px; */
    line-height: 28px;
  }
}

@media screen and (max-width: 580px) {
  .domain-text {
    font-size: 14px;
    line-height: 24px;
    width: unset;
    text-align: justify;
  }
  .domain-heading {
    font-size: 24px;
  }
  .domain-web,
  .domain-ml {
    width: 40px;
    height: 40px;
  }
  .domain-uiux {
    width: 37.71px;
    height: 40px;
  }
  .domain-cloud {
    width: 41.5px;
    height: 33.5px;
  }
}
