.register{
    display: flex;
    flex-direction: row;
    background-color:#FDF7DF;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.register__content {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60vw;
    gap: 100px;
}
.register__header h1{
    font-size:36px;
    font-weight:400;
    line-height: 42px;
}

.register__container__left__button{

}

.date {
    font-size: 16px;
}
.register__container__left p{
    font-size: 16px;
    text-align: justify;
    line-height: 30px;
    font-weight: 400;
    color:#595959;
    padding-bottom: 25px;
}
.wrapper {
    max-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}
.register__container__left {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.register__container__right{
    display:flex;
}

.register__container__right img{
    width: 100%;
}

@media screen and (max-width:1300px) {
    .register__content {
        max-width: 80vw;
    }
}

@media screen and (max-width:990px) {
    .register__container__right{
        display:none;
    }
    .register{
        padding-bottom: 56px;
    }
    .register__header h1{
        font-size: 24px;
        padding-top: 0;
        margin-top: 40px;
        margin-left: 20px;
        text-align: center;
    }
   .wrapper{
      place-items: center;
   }
   .register__container__left p{
    text-align: justify;
    font-size: 16px;
    line-height: 24px;
   }
   .register__container__left span{
        font-weight: 700;
   }
   .register__container__left__button {
        align-self: flex-start;
    }
    .wrapper {
        max-width: 100%;
    }
}

@media screen and (max-width: 580px) {
    .register__container__left p{
        text-align: justify;
        font-size: 14px;
        line-height: 24px;
    }
}
