.marketing-body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.marketing-body__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 60vw;
}
.marketing-body__boxes {
  width: 100%;
  position: absolute;
  gap: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.marketing-body__box {
  height: 200px;
  width: 200px;
  object-fit: contain;
}
.marketing-body__box--left {
  align-self: flex-start;
}
.marketing-body__box--right {
  height: 150px;
  width: 150px;
  align-self: flex-end;
}
.marketing-header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  margin: 25px;
  color: #000000;
}
.cap-icon {
  position: absolute;
  top: 0;
  right: 100px;
}
.marketing-content {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}
.marketing-content img {
  width: 350px;
}
.marketing-description {
  max-width: 50%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* or 167% */
  color: #595959;

  text-align: justify;
}

/* media queries */
@media (max-width: 1300px) {
  .marketing-body__content {
    max-width: 80vw;
  }
  .cap-icon {
    right: 0;
  }
}
@media (max-width: 990px) {
  .cap-icon {
    display: none;
  }
  .marketing-header{
    margin: 0;
    font-size: 24px;
  }
  .marketing-content {
    flex-direction: column;
    width: 100%;
  }
  .cap-icon {
    top: 0;
    right: 0;
  }
  .marketing-description {
    max-width: 100%;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
  }
}
@media (max-width: 580px) {
  .marketing-header {
    font-size: 24px;
    line-height: 30px;
  }
  .marketing-content img {
    width:  60%;
  }
  .marketing-description {
    font-size: 14px;
    line-height: 24px;
    width: unset;
    text-align: justify;
  }
}
