.hero {
    width:100%;
    margin-top: 120px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/dot-grid.webp');
    background-repeat: repeat;
    background-position: center;
}

.hero_welcome {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero_welcome p {
    font-size: 14px;
    font-weight: 400;
    color: #595959;
    line-height: 28px;
}

.hero_end {
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 150px;
}

.hero_title {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero_title h1 {
    text-align: center;
    font-weight: 400;
    font-size: 96px;
    line-height: 112px;
}

.hero_title h1 span {
    font-size: 96px;
    font-weight: 800;
    line-height: 112px;
    background-image: linear-gradient(#392AE4, #B408D0);
    background-size:100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero_title p{
    margin-top:20px;
}

@media screen and (max-width: 768px) {
    .hero{
        margin-top: 100px;
        height:auto;
    }
    .hero_welcome{
        justify-content: space-between;
        padding-right: 20px;
    }
    .hero_title h1 {
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 20px;
    }
    .hero_title h1 span {
        font-size: 48px;
        line-height: 56px;
    }
    .hero_title p{
        color:#595959;
        width:70%;
        margin:0 auto;
        text-align: center;
    }
    .hero_end {
        justify-content: space-between;
        margin-top:30px;
        padding-bottom:150px;
    }
    .image{
        width:80px;
    }
}